.bg {
    width: 100%;
    height: 100%;
    background-color: rgb(38, 38, 38);
    align-content: center;
}

.loadingLabel {
    position: absolute;
    bottom: 200px;
    align-self: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Examples%20&%20Extras/Fonts/Bangers.ttf?fileID=12800000&guid=5dd49b3eacc540408c98eee0de38e0f1&type=3#Bangers");
}
